:root {
    --html-bg: #FFF1E9;
    --css-bg: #E0FDEF;
    --js-bg: #EBF0FF;
    --accessibility-bg: #F6E7FF;
    --text-color: #313E51;
    --text-color-p: #626C7F;
    --purple: #A729F5;
    --purple-hover: #9125d4;
    --bg-col: white;
    --button-bg: #ffffffeb;
    --option-bg: #F4F6FA;
    --option-color: #626C7F;
    --correct-color: #26D782;
    --invalid-color: #EE5454;
    --shadow: rgba(201, 205, 212, 0.751);
    --shadow-hg: 10px 5px 15px 0px;
    --shadow-hg-bar: 5px 5px 10px 0px;
    --bg: url("../img/pattern-background-desktop-light.svg");
    --sun-src: url("../img/icon-sun-dark.svg");
    --moon-src: url("../img/icon-moon-dark.svg");
}
[data-theme="dark"] {
    --text-color: #FFF;
    --text-color-p: #ABC1E1;
    --bg-col: #313E51;
    --button-bg: #3B4D66;
    --shadow: rgba(143, 160, 193, 0.101);
    --shadow-hg: 0px 15px 30px 0px;
    --shadow-hg-bar: 0px 0px 10px 0px;
    --bg: url("../img/pattern-background-desktop-dark.svg");
    --sun-src: url("../img/icon-sun-light.svg");
    --moon-src: url("../img/icon-moon-light.svg");
}
*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-col);
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
}
/**********************Nav index***********************/
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}
div.sun-icon{
    background-image: var(--sun-src);
}
div.moon-icon{
    background-image: var(--moon-src);
}
.sun-icon, .moon-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 1.5rem;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    left: 0.125rem;
    bottom: 0.125rem;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--purple);
}

input:checked + .slider:before {
    transform: translateX(1.5rem);
}

/**********************left column - index***********************/
h1{
    color: var(--text-color);
    font-weight: 100;
    font-size: clamp(3rem, 1.972rem + 2.25vw, 4rem);
}
h1 span {
    font-weight: 500;
}
p, div.n-preguntas, div.score{
    color: var(--text-color-p);
    font-style: italic;
    font-weight: 400;
    margin-top: 1rem;
}

/**********************Right column - index***********************/
.choices {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
button.quiz-type {
    background-color: var(--button-bg);
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: 500;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: start;
    width: 100%;
    gap: 1rem;
    border-radius: .75rem;
    border: 0;
    padding: .75rem;
    box-shadow: var(--shadow-hg) var(--shadow);
    text-decoration: none;
}
.button-icon-container>img {
    border-radius: .75rem;
    padding: .15rem;
}
.button-icon-container>img[src="img/icon-html.svg"] {
    background-color: var(--html-bg);
}

.button-icon-container>img[src="img/icon-css.svg"] {
    background-color: var(--css-bg);
}

.button-icon-container>img[src="img/icon-js.svg"] {
    background-color: var(--js-bg);
}

.button-icon-container>img[src="img/icon-accessibility.svg"] {
    background-color: var(--accessibility-bg);
}

/******************** sección del quiz *******************/

.contendor {
    display: flex;
    height: 100vh;
}

.quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .6s;
    visibility: hidden;
}

.quiz-content {
    visibility: hidden;
}

.mostrar{
    visibility: visible;    
    z-index: 1000;
}

.no-mostrar {
    visibility: hidden;
    
}

/**********************Nav - form***********************/
div.title-nav{
    color: var(--text-color);
    font-size: 20px;
    display: grid;
    grid-template-rows: .5fr;
    grid-template-columns: 0fr 0fr 0fr;
    align-items: center;
    justify-items: start;
    width: 100%;
    gap: 5px;
    border: 0;
}
div.title-nav .button-icon-container>img {
    border-radius: .25rem;
    padding: .1rem;
    width: 30px;
}

/***********************left column - form***********************/
h2{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom: 15px;
}
.progress-bar.whole {
    width: 100%;
    height: 1rem;
    background-color: var(--button-bg);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding: .25rem;
    border-radius: 62rem;
    box-shadow: var(--shadow-hg-bar) var(--shadow);
}
.progress-bar.done {
    background-color: var(--purple);
    border-radius: 6.5rem;
    /*width: 80%;*/
    height: .9rem;
}

/***********************right column - form***********************/
.option {
    border: 3px solid transparent;
}
.option-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--option-color);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .25rem;
    background-color: var(--option-bg);
}

.desactivado { 
    pointer-events: none;
}

.n-preguntas, .score{
    color: var(--js-bg);
    text-align: center;
}

article.options button.option {
    background-color: var(--button-bg);
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .4fr 3fr 0fr;
    text-align: left;
    align-items: center;
    justify-items: start;
    width: 100%;
    gap: 1px;
    border-radius: .75rem;
    border: 0;
    padding: .75rem;
    box-shadow: var(--shadow-hg) var(--shadow);
}

.button-submit:disabled {
    background-color: #6c1d9e;
}
.button-submit{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: white;
    font-weight: 500;
    width: 100%;
    border-radius: .75rem;
    border: 0;
    padding: .75rem;
}
.button-submit:enabled:hover{
    background-color: var(--purple-hover);
}
/******************************Footer*****************************/
footer {
    padding-top: 3%;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
}

/**********************MEDIA**********************/
@media(max-width: 900px){
    :root { 
        --bg: url("../img/pattern-background-mobile-light.svg");
    }
    [data-theme="dark"] {
        --bg: url("../img/pattern-background-mobile-dark.svg");
    }
}